{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {% if app.user.box.id == entity.box.id %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/redips.css') }}"/>
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if app.user.box.id == entity.box.id %}

        <div id="redips-drag">
            <div>
                {{ box|raw }}
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if app.user.box.id == entity.box.id %}
        <script type="application/javascript" src="{{ asset('assets/js/redips.js') }}"></script>
        <script>

            var id
            $(".redips-drag").mouseup(function () {
                id = $(this).data("id")
            })

            var redipsInit = function () {
                var rd = REDIPS.drag
                rd.init()
                rd.dropMode = 'single'
                rd.clone.keyDiv = false
                rd.event.finish = function () {
                    var drag = $('#' + id)
                    var location = drag.parent().attr('id')
                    drag.attr("data-location", location)
                    $.post({
                        url: '{{ path('ajax_wine_bottle_move') }}',
                        type: 'POST',
                        data: {id: id, location: location}
                    })

                }
            }

            if (window.addEventListener) {
                window.addEventListener('load', redipsInit, false)
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', redipsInit)
            }
        </script>
    {% endif %}
{% endblock %}

