<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('asset/semantic/semantic.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<a href="{{ path('wine_appellation_create') }}">wine_appellation_create</a>
<a href="{{ path('wine_domain_create') }}">wine_domain_create</a>
<a href="{{ path('wine_region_create') }}">wine_region_create</a>
<a href="{{ path('wine_wine_create') }}">wine_wine_create</a>

<section id="{{ app.request.attributes.get("_route") }}">
    {% block body %}
    {% endblock %}
</section>

<script type="application/javascript" src="https://kit.fontawesome.com/cd91c1afff.js"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="application/javascript" src="{{ asset('asset/semantic/semantic.min.js') }}"></script>

{% block javascripts %}
{% endblock %}

</body>
</html>
